# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
- List popular languages for Data Science
- List commonly libraries used by Data Scientists
- Indicate three development environment open source tools used in Data Science
- Evaluate basic arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
3. R
4. SQL
5. Julia
6. Scala
7. Java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. scikit-learn
4. Matplotlib
6. TensorFlow
5. PyTorch

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python
In the following examples, we will evaluate basic arithmetic expressions.

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Autor
Nicol√°s Alexis Miguel